* {
  margin: 0;
  text-align: center;
  --crayon-blue: rgba(12, 15, 150, 0.7);
  /* optimally global variable declaration is in :root {}, 
  but * works in this case too */
}

.Container {
  background-color: var(--crayon-blue);
}

h1, p {
  padding: 3vh 0;
}